@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=52c1af2e484de37e3b8efa844af042ac70ee0182a2f193fa9da20d84db50a099") format("woff2"),
       url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=f024527a301b20e12f96e90612c5104850f967cef15653ce81a797daa0729714") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=52c1af2e484de37e3b8efa844af042ac70ee0182a2f193fa9da20d84db50a099") format("woff2"),
       url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=f024527a301b20e12f96e90612c5104850f967cef15653ce81a797daa0729714") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//cplr-dev.myshopify.com/cdn/fonts/montserrat/montserrat_n4.1d581f6d4bf1a97f4cbc0b88b933bc136d38d178.woff2?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=61e0508320fc76c05436417f398c9db29b044e6cd77e56e3dd39af5dfd95e6e6") format("woff2"),
       url("//cplr-dev.myshopify.com/cdn/fonts/montserrat/montserrat_n4.cfce41a967758ce5a9b7d48daeb5b028fd977a9b.woff?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=a2067757be2c691a37b77eefb2948550910feb9ef0c1b33a56e0cdddb769b46b") format("woff");
}



  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=58fdc117b1b86562297c83ab999ce867de341bd5c118760727947840274c0b56") format("woff2"),
       url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=c7436c1f34639990eaf15ac8d5dc2ad8fe19ecf8843da2ae3c1bcac6dafb6db6") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=58fdc117b1b86562297c83ab999ce867de341bd5c118760727947840274c0b56") format("woff2"),
       url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=c7436c1f34639990eaf15ac8d5dc2ad8fe19ecf8843da2ae3c1bcac6dafb6db6") format("woff");
}







  @font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_i4.f1583d9f457b68e44fbda187a48b4096d547d7f4.woff2?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=8ca217bbf0478457e92b034e27720c2f4616fa283f182bcc4db4308dca70e861") format("woff2"),
       url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_i4.67fb53a3e0351125941146246183577ae8d8bf23.woff?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=8c15b21968d71238f7a67af6646e935f64a8f49e1364154e4c74b0fafc8e7d8f") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_i5.2d1a6d537e5b485482d6bcca34a56cc10d441a55.woff2?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=2c0279f607a78469e647d057544fa4dfae77d096687a3f0dd0ec77b4dddd2f96") format("woff2"),
       url("//cplr-dev.myshopify.com/cdn/fonts/avenir_next/avenirnext_i5.fcfa37c68ca483c41031623bfae4701d99bb4b95.woff?h1=Y3Bsci1kZXYuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=f8230924ae468d13e63616b77c6aafa6e29dbf71f241e6edda498a5923c06ce8") format("woff");
}

